span{
  position:relative;

}

html{
  background-color: black;
}

.mm{
  height:1000px;
  width:100%;
}

.ascii-art {
    font-family: monospace;
    font-weight: bold;
    white-space: pre;
    color:yellow;
    padding:200px;
}

.img{
  position: fixed;
  margin-left: 10px;
  margin-top: 10px;
}
