body{
  margin:0;
  background-color: white;
}

.container{
  width:100%;
  height:100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.layer1{
  width:100%;
  height:100vh;
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  position:absolute;
  background-color: blue;
}
.layer2{
  width:100%;
  height:100vh;
  display: flex;
  opacity: 0.5;
  justify-content: center;
  align-items: center;
  position:absolute;
  background-color: red;
}

.layer3{
  width:100%;
  height:100vh;
  display: flex;
  opacity: 0.5;
  justify-content: center;
  align-items: center;
  position:absolute;
  background-color: red;
}

.box{
  width:200px;
  height:100px;
  background-color:  yellow;
  border-radius: 100px / 50px;
  /* color: #4C0099; */
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}


.overlay{
  position: relative;
  text-align: center;
  width:300px;
  height:150px;
  background-color:  green;
    /* transform: rotate(-50deg); */
    margin: 40px;
    padding: 10px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  animation-name: zoo;
  animation-duration: 4s;
  animation-iteration-count:infinite;
  transform-origin:center;
  animation-timing-function: ease;
}

.overlay2{
  /* position: relative; */
  text-align: center;
  width:300px;
  height:150px;
  background-color:  white;
  width: 126px;
  height: 180px;
    /* transform: rotate(20deg); */
    margin: 40px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  animation-name: zoom;
  animation-duration: 4s;
  animation-iteration-count:infinite;
  transform-origin:center;
  animation-timing-function: ease;
}

@keyframes zoom {
  from{
    transform: scale(0.1) rotate(20deg);
  }
  to{
    transform: scale(1) rotate(20deg);
  }
}

@keyframes zoo {
  from{
    transform: scale(0.1) rotate(-50deg);
  }
  to{
    transform: scale(1) rotate(-50deg);
  }
}

/* .box-6{
  position: relative;
  text-align: center;
  animation: bounce 1s 15, moving6 10s, coll 4s 1 10s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.box-7{
  position: relative;
  text-align: center;
  animation: bounce 1.7s 10 15s, moving7 10s 15s, coll 4s 1 26s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.box-8{
  position: relative;
  text-align: center;
  animation: bounce 2s 9 15s, moving8 10s 15s, coll 4s 1 26s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.box-9{
  position: relative;
  text-align: center;
  animation: bounce 1s 14 15s, moving9 10s 15s, coll 4s 1 26s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.box-10{
  position: relative;
  text-align: center;
  animation: bounce 1.4s 12 15s, moving10 10s 15s, coll 4s 1 26s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
} */



/* @keyframes coll {
from{
color: black;
}
to{
color: #4C0099;
}
}

@keyframes moving6 {
from{
left:30%;
}
to{
left:-50%;
}
}

@keyframes moving7 {
from{
left:30%;
}
to{
left:-50%;
}
}

@keyframes moving8 {
from{
left:30%;
}
to{
left:-50%;
}
}

@keyframes moving9 {
from{
left:30%;
}
to{
left:-50%;
}
}

@keyframes moving10 {
from{
left:30%;
}
to{
left:-50%;
}
}


@keyframes bounce {

0%{
transform: scale(1,1)
translateY(0);
}
10%{
transform: scale(1.1,.9)
translateY(0);
}
30%{
transform: scale(.9,1.1)
translateY(-200px);
}
50%{
transform: scale(1.05,.95)
translateY(0);
}
57%{
transform: scale(1,1)
translateY(-7px);
}
64%{
transform: scale(1,1)
translateY(0);
}
100%{
transform: scale(1,1)
translateY(0);
}

} */

/* .box-1{
position: relative;
animation-name: crush;
animation-duration: 4s;
animation-delay: 10s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
transform-origin:bottom;
animation-timing-function: ease;
}
.box-2{
position: relative;
animation-name: crush;
animation-duration: 4s;
animation-delay: 26s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
transform-origin:bottom;
animation-timing-function: ease;
}
.box-3{
position: relative;
animation-name: crush;
animation-duration: 4s;
animation-delay: 26s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
transform-origin:bottom;
animation-timing-function: ease;
}
.box-4{
position: relative;
animation-name: crush;
animation-duration: 4s;
animation-delay: 26s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
transform-origin:bottom;
animation-timing-function: ease;
}
.box-5{
position: relative;
animation-name: crush;
animation-duration: 4s;
animation-delay: 26s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
transform-origin:bottom;
animation-timing-function: ease;
}

@keyframes crush {

From{
height:130px;
transform: translateY(0px);
}
to{
height:0px;
transform: translateY(70px);
}

} */
