body{
  margin:0;
  background-color: white;
}

.container{
  width:100%;
  height:100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.layer1{
  width:100%;
  height:100vh;
  display: flex;
  float: left;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
  position:absolute;
  /* background-color: blue; */
}
.layer2{
  width:100%;
  height:100vh;
  display: flex;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
  position:absolute;
  /* background-color: red; */
}

.layer3{
  width:100%;
  height:100vh;
  display: flex;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
  position:absolute;
  /* background-color: red; */
}
.layer3-1{
  width:100%;
  height:100vh;
  display: flex;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
  position:absolute;
  /* background-color: red; */
}

.layer3-2{
  width:100%;
  height:100vh;
  display: flex;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
  position:absolute;
  /* background-color: red; */
}

.layer4{
  width:100%;
  height:100vh;
  display: flex;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
  position:absolute;
  /* background-color: red; */
}
.layer4-1{
  width:100%;
  height:100vh;
  display: flex;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
  position:absolute;
  /* background-color: red; */
}
.layer5{
  width:100%;
  height:100vh;
  display: flex;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
  position:absolute;
  /* background-color: red; */
}
.layer5-1{
  width:100%;
  height:100vh;
  display: flex;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
  position:absolute;
  /* background-color: red; */
}
.layer6{
  width:100%;
  height:100vh;
  display: flex;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
  position:absolute;
  /* background-color: red; */
}
.layer7{
  width:100%;
  height:100vh;
  display: flex;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
  position:absolute;
  /* background-color: red; */
}
.layer8{
  width:100%;
  height:100vh;
  display: flex;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
  position:absolute;
  /* background-color: red; */
}
.box{
  width:200px;
  height:180px;
  /* background-color:  white; */
  border-radius: 100px / 90px;
  /* color: #4C0099; */
  text-align: center;
  filter: blur(3px);
  position: relative;
  font-family: 'Noto Sans JP', sans-serif;
}

.overlay{
  width:180px;
  height:162px;
  /* background-color:  white; */
  border-radius: 100px / 90px;
  /* color: #4C0099; */
  filter: blur(5px);
  text-align: center;
  position: relative;
  font-family: 'Noto Sans JP', sans-serif;
}

.overlay2{
  width:140px;
  height:140px;
  background-color:  red;
  border-radius: 70px / 70px;
  /* color: #4C0099; */
  filter: blur(10px);
  text-align: center;
  position: relative;
  font-family: 'Noto Sans JP', sans-serif;
}

.box-1{
  position:relative;
  left: 70%;
  top:-25%;
    animation: drip1 5s 1, blur1 1s 1 13s;
  /* animation-name: drip1;
  animation-duration: 5s;
  animation-iteration-count:1; */
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  /* background-color: black; */
}
.box-6{
  position:relative;
  left: 69%;
  top:-25%;
  animation: drip6 5s 1, blur1 1s 1 13s;
  /* animation-name: drip6;
  animation-duration: 5s;
  animation-iteration-count:1; */
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  /* background-color: black; */
}

@keyframes drip1 {
  from{
    background-color: white;
    transform: scale(0.1);
  }
  to{
    background-color: #80C9FF;
    transform: scale(1);
  }

}
@keyframes drip6 {
  from{
    background-color: white;
    transform: scale(0.1);
  }
  to{
    background-color: #7FCCFF;
    transform: scale(1);
  }

}

.box-2{
  position:relative;
  left: 40%;
  top:-8%;
  animation: drip2 5s 1 3s, blur1 1s 1 14s;
  /* animation-name: drip2;
  animation-duration: 5s;
  animation-delay: 3s;
  animation-iteration-count:1; */
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  /* background-color: black; */
}
.box-7{
  position:relative;
  left: 38%;
  top:-8%;
  animation: drip7 5s 1 3s, blur1 1s 1 14s;
  /* animation-name: drip7;
  animation-duration: 5s;
  animation-delay:3s;
  animation-iteration-count:1; */
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  /* background-color: black; */
}

@keyframes drip2 {
  from{

    background-color:white;
    transform: scale(0.1);
  }
  to{
    background-color:#A280FF;
    transform: scale(1);
  }

}
@keyframes drip7 {
  from{
    background-color: white;
    transform: scale(0.1);
  }
  to{
    background-color: #B498FF;
    transform: scale(1);
  }

}

.box-3{
  position:relative;
  left: 10%;
  top:1%;
  animation: drip3 6s 1 4s, blur1 1s 1 15s;
  /* animation-name: drip3;
  animation-duration: 6s;
  animation-delay: 4s;
  animation-iteration-count:1; */
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  /* background-color: black; */
}
.box-8{
  position:relative;
  left: 10%;
  top:1%;
  animation: drip8 5s 1 4s, blur1 1s 1 15s;
  /* animation-name: drip8;
  animation-duration: 5s;
  animation-delay:4s;
  animation-iteration-count:1; */
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  /* background-color: black; */
}
@keyframes drip3 {
  from{
    background-color:white;
    transform: scale(0.1);
  }
  to{
    background-color:#FFA280;
    transform: scale(1);
  }

}
@keyframes drip8 {
  from{
    background-color: white;
    transform: scale(0.1);
  }
  to{
    background-color: #FFB397;
    transform: scale(1);
  }

}

.box-4{
  position:relative;
  left: -20%;
  top:20%;
  animation: drip4 4s 1 6s, blur1 1s 1 16s;
  /* animation-name: drip4;
  animation-duration: 4s;
  animation-delay: 6s;
  animation-iteration-count:1; */
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  /* background-color: black; */
}
.box-9{
  position:relative;
  left: -18%;
  top:20%;
  animation: drip9 5s 1 6s, blur1 1s 1 16s;
  /* animation-name: drip9;
  animation-duration: 5s;
  animation-delay: 6s;
  animation-iteration-count:1; */
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  /* background-color: black; */
}
@keyframes drip4 {
  from{
    background-color:white;
    transform: scale(0.1);
  }
  to{
    background-color:#FFDA80;
    transform: scale(1);
  }

}
@keyframes drip9 {
  from{
    background-color: white;
    transform: scale(0.1);
  }
  to{
    background-color: #FFE094;
    transform: scale(1);
  }

}

.box-5{
  position:relative;
  left: -52%;
  top:15%;
  animation: drip5 6s 1 8s, blur1 1s 1 17s;
  /* animation-name: drip5;
  animation-duration: 6s;
  animation-delay: 8s;
  animation-iteration-count:1; */
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  /* background-color: black; */
}
.box-10{
  position:relative;
  left: -52%;
  top:15%;
  animation: drip10 6s 1 8s, blur1 1s 1 17s;
  /* animation-name: drip10;
  animation-duration: 6s;
  animation-delay: 8s;
  animation-iteration-count:1; */
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  /* background-color: black; */
}
@keyframes drip5 {
  from{
    background-color:white;
    transform: scale(0.1);
  }
  to{
    background-color:#FCF77C;
    transform: scale(1);
  }

}
@keyframes drip10 {
  from{
    background-color: white;
    transform: scale(0.1);
  }
  to{
    background-color: #FCF891;
    transform: scale(1);
  }

}

.box-11{
  position:relative;
  left: -75%;
  top:-9%;
  animation: drip11 6s 1 9s, blur1 1s 1 18s;
  /* animation-name: drip11;
  animation-duration: 6s;
  animation-delay: 9s;
  animation-iteration-count:1; */
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  /* background-color: black; */
}
.box-12{
  position:relative;
  left: -75%;
  top:-9%;
  animation: drip12 6s 1 9s, blur1 1s 1 18s;
  /* animation-name: drip12;
  animation-duration: 6s;
  animation-delay: 9s;
  animation-iteration-count:1; */
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  /* background-color: black; */
}
@keyframes drip11 {
  from{
    background-color:white;
    transform: scale(0.1);
  }
  to{
    background-color:#A2FD86;
    transform: scale(1);
  }

}
@keyframes drip12 {
  from{
    background-color: white;
    transform: scale(0.1);
  }
  to{
    background-color: #B5FF9E;
    transform: scale(1);
  }

}

@keyframes blur1 {
  from{
      filter: blur(3px);
  }
  to{
      filter: blur(10px);
  }
}

.case-1{
  position:relative;
  left: 50%;
  top:-35%;
    opacity: 0;
  background-color: #80C9FF;
  animation-name: fade1;
  animation-duration: 3s;
    animation-delay: 13s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.case-2{
  position:relative;
  left: 30%;
  top:-40%;
    opacity: 0;
  background-color: #89B7FF;
  animation-name: fade1;
  animation-duration: 3s;
    animation-delay: 13s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.case-3{
  position:relative;
  left: 10%;
  top:-38%;
    opacity: 0;
  background-color: #9A92FF;
  animation-name: fade1;
  animation-duration: 3s;
    animation-delay: 13s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.case-4{
  position:relative;
  left: -3%;
  top:-25%;
    opacity: 0;
  background-color: #A280FF;
  animation-name: fade1;
  animation-duration: 2s;
    animation-delay: 13s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.case-5{
  position:relative;
  left: -7%;
  top:-25%;
    opacity: 0;
  background-color: #91A5FF;
  animation-name: fade1;
  animation-duration: 2s;
    animation-delay: 13s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.case-6{
  position:relative;
  left: 60%;
  top:-9%;
    opacity: 0;
  background-color: #80C9FF;
  animation-name: fade1;
  animation-duration: 2s;
    animation-delay: 13s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.case-7{
  position:relative;
  left: 48%;
  top:3%;
    opacity: 0;
  background-color: #89B7FF;
  animation-name: fade1;
  animation-duration: 2s;
    animation-delay: 13s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.case-8{
  position:relative;
  left: 25%;
  top:-5%;
    opacity: 0;
  background-color: #91A5FF;
  animation-name: fade1;
  animation-duration: 2s;
    animation-delay: 13s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.case-9{
  position:relative;
  left: 13%;
  top:10%;
    opacity: 0;
  background-color: #9A92FF;
  animation-name: fade1;
  animation-duration: 2s;
    animation-delay: 13s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.case-10{
  position:relative;
  left: -10%;
  top:10%;
    opacity: 0;
  background-color:#A280FF;
  animation-name: fade1;
  animation-duration: 2s;
    animation-delay: 13s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}


.case-11{
  position:relative;
  left: 40%;
  top:-38%;
    opacity: 0;
      opacity: 0;
  background-color:#80C9FF;
  animation-name: fade1;
  animation-duration: 2s;
    animation-delay: 12s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.case-12{
  position:relative;
  left: 33%;
  top:-25%;
    opacity: 0;
  background-color:#80C9FF;
  animation-name: fade1;
  animation-duration: 2s;
    animation-delay: 12s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes fade1 {
  from{
    transform: scale(0.1);
    opacity: 0;
  }
  to{
      transform: scale(1);
    opacity: 1;
  }

}

.block-1{
  position:relative;
  left: 33%;
  top:-20%;
      opacity: 0;
  background-color:#A280FF;
  animation-name: fade1;
  animation-duration: 2s;
animation-delay: 14s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.block-2{
  position:relative;
  left: 18%;
  top:-33%;
      opacity: 0;
  background-color:#B989DF;
  animation-name: fade1;
  animation-duration: 2s;
animation-delay: 14s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.block-3{
  position:relative;
  left: -3%;
  top:-33%;
      opacity: 0;
  background-color:#E89AA0;
  animation-name: fade1;
  animation-duration: 2s;
animation-delay: 14s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.block-4{
  position:relative;
  left: -10%;
  top:-20%;
      opacity: 0;
  background-color:#D191C0;
  animation-name: fade1;
  animation-duration: 2s;
animation-delay: 14s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.block-5{
  position:relative;
  left: -30%;
  top:-20%;
      opacity: 0;
  background-color:#FFA280;
  animation-name: fade1;
  animation-duration: 2s;
animation-delay: 14s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.block-6{
  position:relative;
  left: 28%;
  top:23%;
      opacity: 0;
  background-color:#B989DF;
  animation-name: fade1;
  animation-duration: 2s;
animation-delay: 14s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.block-7{
  position:relative;
  left: 11%;
  top:10%;
      opacity: 0;
  background-color:#D191C0;
  animation-name: fade1;
  animation-duration: 2s;
animation-delay: 14s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.block-8{
  position:relative;
  left: -4%;
  top:30%;
      opacity: 0;
  background-color:#E89AA0;
  animation-name: fade1;
  animation-duration: 2s;
animation-delay: 14s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.chain-1{
  position:relative;
  left: 15%;
  top:-11%;
  opacity: 0;
  background-color:#FFB080;
  animation-name: fade1;
  animation-duration: 2s;
  animation-delay: 15s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.chain-2{
  position:relative;
  left: -5%;
  top:-17%;
  opacity: 0;
  background-color:#FFCC80;
  animation-name: fade1;
  animation-duration: 2s;
  animation-delay: 15s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.chain-3{
  position:relative;
  left: -15%;
  top:-3%;
  opacity: 0;
  background-color:#FFBE80;
  animation-name: fade1;
  animation-duration: 2s;
  animation-delay: 15s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.chain-4{
  position:relative;
  left: -30%;
  top:0%;
  opacity: 0;
  background-color:#FFDA80;
  animation-name: fade1;
  animation-duration: 2s;
  animation-delay: 15s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.chain-6{
  position:relative;
  left: 13%;
  top:25%;
  opacity: 0;
  background-color:#FFBE80;
  animation-name: fade1;
  animation-duration: 2s;
  animation-delay: 15s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.chain-7{
  position:relative;
  left: -8%;
  top:38%;
  opacity: 0;
  background-color:#FFDA80;
  animation-name: fade1;
  animation-duration: 2s;
  animation-delay: 15s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.chain-8{
  position:relative;
  left: -13%;
  top:38%;
  opacity: 0;
  background-color:#FFCC80;
  animation-name: fade1;
  animation-duration: 2s;
  animation-delay: 15s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.book-1{
  position:relative;
  left: 8%;
  top:0%;
  opacity: 0;
  background-color:#FEE97E;
  animation-name: fade1;
  animation-duration: 2s;
  animation-delay:16s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.book-2{
  position:relative;
  left: -4%;
  top:-13%;
  opacity: 0;
  background-color:#FEE17F;
  animation-name: fade1;
  animation-duration: 2s;
  animation-delay:16s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.book-3{
  position:relative;
  left:-13%;
  top:40%;
  opacity: 0;
  background-color:#FEE17F;
  animation-name: fade1;
  animation-duration: 2s;
  animation-delay:16s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.book-4{
  position:relative;
  left:-33%;
  top:35%;
  opacity: 0;
  background-color:#FEE97E;
  animation-name: fade1;
  animation-duration: 2s;
  animation-delay:16s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.book-5{
  position:relative;
  left: -53%;
  top:37%;
  opacity: 0;
  background-color:#FDF07D;
  animation-name: fade1;
  animation-duration: 2s;
  animation-delay:16s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.mac-1{
  position:relative;
  left: 0%;
  top:0%;
  opacity: 0;
  background-color:#CFFA81;
  animation-name: fade1;
  animation-delay: 16s;
  animation-duration: 2s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.mac-2{
  position:relative;
  left: -13%;
  top:-17%;
  opacity: 0;
  background-color:#B9FC84;
  animation-name: fade1;
  animation-delay: 17s;
  animation-duration: 2s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.mac-3{
  position:relative;
  left:-21%;
  top:-25%;
  opacity: 0;
  background-color:#E8E382;
  animation-name: fade1;
  animation-delay: 17s;
  animation-duration: 2s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.mac-4{
  position:relative;
  left:-50%;
  top:30%;
  opacity: 0;
  background-color:#E6F97F;
  animation-name: fade1;
  animation-delay: 17s;
  animation-duration: 2s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.mac-5{
  position:relative;
  left: -63%;
  top:13%;
  opacity: 0;
  background-color:#CFFA81;
  animation-name: fade1;
  animation-delay: 17s;
  animation-duration: 2s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.grass-1{
  position:relative;
  left: -20%;
  top:15%;
  opacity: 0;
  background-color:#B9FC84;
  animation-name: fade1;
  animation-duration: 2s;
  animation-delay: 18s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.grass-2{
  position:relative;
  left: -35%;
  top:-5%;
  opacity: 0;
  background-color:#A2FD86;
  animation-name: fade1;
  animation-duration: 2s;
  animation-delay: 18s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.grass-3{
  position:relative;
  left:-45%;
  top:-25%;
  opacity: 0;
  background-color:#A2FD86;
  animation-name: fade1;
  animation-duration: 2s;
  animation-delay: 18s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.grass-4{
  position:relative;
  left:-50%;
  top:-35%;
  opacity: 0;
  background-color:#A2FD86;
  animation-name: fade1;
  animation-duration: 2s;
  animation-delay: 18s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.grass-5{
  position:relative;
  left: -53%;
  top:-35%;
  opacity: 0;
  background-color:#B9FC84;
  animation-name: fade1;
  animation-duration: 2s;
  animation-delay: 18s;
  animation-iteration-count:1;
  transform-origin:center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
