body{
  margin:0;
}
html{
    background-image: url("vintage.jpg");
}
.box{
  width:280px;
  height:280px;
  /* background-color: white; */
  margin:0px;
}

.box-1{
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function:linear;
  animation-timing-function:
  /* animation-fill-mode: forwards; */
}

@keyframes spin {

  from{
    transform: rotate(0deg);
    /* transform: translateX(0px); */
  }

  to{
    transform: rotate(360deg);
    /* transform: translateX(70px); */
  }

}
